#app {
    font-family: 'Helvetica Neue', Arial, sans-serif;
}
.view {
    transition: all .3s ease;
    opacity: 1;
    position: absolute;
}
.view.v-enter {
    opacity: 0;
    transform: translate3d(30px, 0, 0);
}
.view.v-leave {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
}